<div class="app-container">
<div>
  <hr>
  <button type="button" class="btn btn-default gradient-collapse" ng-click="isCollapsed = !isCollapsed" style="width: 100%;">GRADIENT</button>
  <div uib-collapse="isCollapsed">

    <div class="well well-lg gradient-container">
      <div class="btn-group gradient">
        <button class="btn btn-primary refresh">Refresh</button>
        <button class="btn btn-primary rgba">rgba</button>
      </div>
    </div>
    <button type="button" class="btn btn-default cookie-collapse" ng-click="isCollapsed2 = !isCollapsed2" style="width: 100%;">COOKIE</button>
    <div uib-collapse="isCollapsed2">
      <div class="well well-lg cookie-container">
        THE COOKIE
        <br>
      <div class="btn-group cookie">
        <button class="btn btn-primary update">Update</button>
        <button class="btn btn-primary save">Save</button>
        <button class="btn btn-primary delete">Delete</button>
      </div>
      </div>
    </div>
 </div>
</div>
</div>
