.app-container {
  width: 400px;
  margin: 20px auto;
}

.well.well-lg {
  padding: 0;
}

button.gradient-collapse {border-radius: 4px 4px 0px 0px;}

div.gradient-container {
  margin: 0;
  padding: 0;
  height: 300px;
  border-radius: 0;
}

.btn-group.gradient{top: 125px;left: 137px;}

button.cookie-collapse{border-radius: 0px;}

div.cookie-container{height: 300px;margin-bottom: 0px;border-radius: 0px 0px 4px 4px;}

.btn-group.cookie{
 top: 264px;
}

.btn-group.cookie button{
 width: 133px;
}


button.btn.btn-primary.delete {
    border-radius: 0px 0px 2px 0px;
    width: 134px;
}

button.btn.btn-primary.update {
    border-radius: 0px 0px 0px 2px;
    width: 133px;
}